USE [master]
GO
/****** Object:  Database [CashRegisterDB]    Script Date: 8/30/2018 11:56:25 AM ******/
CREATE DATABASE [CashRegisterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CashRegisterDB', FILENAME = N'C:\Users\firas\AppData\Local\Microsoft\VisualStudio\SSDT\CashRegisterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CashRegisterDB_log', FILENAME = N'C:\Users\firas\AppData\Local\Microsoft\VisualStudio\SSDT\CashRegisterDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CashRegisterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CashRegisterDB]
GO
USE [CashRegisterDB]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 8/30/2018 11:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[IsWeight] [bit] NOT NULL,
	[Price] [float] NOT NULL,
	[QuantityCoupon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([Id], [Name], [IsWeight], [Price], [QuantityCoupon]) VALUES (1, N'item1                                             ', 0, 1, 3)
INSERT [dbo].[Item] ([Id], [Name], [IsWeight], [Price], [QuantityCoupon]) VALUES (4, N'item2                                             ', 1, 1.3, 0)
INSERT [dbo].[Item] ([Id], [Name], [IsWeight], [Price], [QuantityCoupon]) VALUES (5, N'item3                                             ', 1, 2.5, 0)
SET IDENTITY_INSERT [dbo].[Item] OFF
USE [master]
GO
